* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



body {
    background-image: url(assets/5026563.jpg);
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: auto;
    min-width: 100vw;
    
} 

.container {
   
    text-align: center;
    width: 300px;
    margin: 60px auto;

}

img.perfil {
    width: 100%;
    border-radius: 50%;
    width: 100px;
    right: 100px;
    border: #8257e5 solid 4px;
    padding: 3.7px;
}

h1 {
    font-size: 32px;
    color: black;
    margin-top: 24px;
    margin-bottom: 8px;  
}

p {
    font-family: 'Rovoto Mono', monospace;
    font-weight: 400;
    color: black;
    opacity: 0.8;
    font-size: 18px;
}

ul {
    list-style: none;
    margin: 40px 0;
}

ul li img {
    margin-right: 5px;
}

li:hover {
        transform: scale(1.1);
        transition: all 0.3s;
}

ul li a {
    height: 53px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #8257e5;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 6px;
    transition: background 400ms;

}

ul li a:hover {
    background: rebeccapurple;
    

}

footer {
    font-weight: 500;
    font-size: 12px;
    color: black;
    opacity: 0.6;
    transition: 400ms;


}

footer:hover {
    opacity: 1;
}

footer a {
    color: black;
}

